body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../imagenes/proyecto1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

div {
    display: flex;
    justify-content: center;
    margin: 40px;
    background-image: url('../imagenes/proyecto1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-image: url('../imagenes/header.jpg');
    color: #fff;

    padding: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-image: url('../imagenes/proyecto1.png');
    padding: 10px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav ul {
    list-style-type: none;
    margin: 15;
    padding: 15;;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    height: 50px;
    background-image: url('../imagenes/proyecto1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color:#fff
}
footer {
    background-image: url('../imagenes/proyecto1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
    text-align:center;
    color: #fff;
    position: absolute; 
    bottom: 0; 
    left:center; 
    z-index: 10;
}

footer p {
    margin: 5px;
}